body {
    background-color: #005067;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
    .parr1 {
        text-align: center;
        font-style: italic;
        font-weight: bold;
    }

    /*.div1 {
        background-color: black;
        color: blue;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        text-align: center;
        font-style: italic;
        font-weight: bold;
    } */

header {
        background-color: #569aff;
        color: #ffffff;
        text-align: center;
        padding: 20px;
        }
        section {
        padding: 20px; /* espaciado para la sección de 20 pixeles */}
        footer {
        background-color: #4c89af; /* Color de fondo del footer */
        color: #fff;
        padding: 20px 0; }
        .footer-content {
        max-width: 800px; /* Ancho máximo del contenido del footer */
        margin: 0 auto; /* Centrar el contenido del footer horizontalmente */
        text-align: center; }

        nav {
            background-color: #580394;
            padding: 10px;
            }
            nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;
            }
            nav ul li {
            display: inline-block;
            margin-right: 20px;
            }
            nav ul li a {
            color: #01e4f9c9;
            text-decoration: none;
            padding: 8px 16px;
            border-radius: 5px;
            }
            nav ul li a:hover {
            background-color: #8e0856;
            }

            img {
                display: block; /* Para eliminar el espacio adicional que algunos navegadores agregan a las img. */
                margin: 0 auto; /* Centrar las imágenes horizontalmente */
                max-width: 100%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
                border: 3px solid #0536f7; /* Contorno de 3px con un color verde (#69bd45) alrededor de la img.*/
                border-radius: 10px; /* Borde redondeado de 10px para suavizar el contorno */
                }
                